/* Menu App */
.menuContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.categoryName,
.categoryLink {
  text-decoration: none;

  display: block;

  color: #4f4f4f;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  padding: 5px;
  cursor: pointer;
}

.footerCategoryName {
  text-decoration: none;

  display: block;

  color: #202020;
  font-size: 14px;
  line-height: 21px;

  padding: 5px;
  cursor: pointer;
}

.subMenuContainer {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  opacity: 0;

  transition: 0.5s ease-in-out;
  /* Will be changed to apply a transitions */
  width: 100%;
  height: 225px;
  justify-content: center;
  align-items: center;

  background: white;
  box-shadow: 0px 4px 8px #0000001f;
}

.subMenuContent {
  width: 908px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subMenuItemsContainer {
  display: flex;
  flex-direction: column;
  align-content: center;

  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 45px;

  height: 112px;
  width: 303px;
  margin-left: 266px;
}

.subMenuItem {
  height: 22px;
  width: 70px;
}

.subMenuLink {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 22px;
  font-weight: 500;
  line-height: 19px;

  display: block;
  width: 100%;
  height: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subMenuImage {
  width: 184px;
  height: 172px;
  background: url("assets/images/mulher.png");
  background-size: cover;
}

.menuFooterContainer {
  height: 155px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .menuContainer {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    padding-left: 13px;
  }
  .subMenuContainer {
    position: relative;
    /*display: block;*/
    top: 0;
    height: auto;
    box-shadow: none;
    padding-left: 15px;
  }
  .subMenuContent {
    width: 100%;
  }
  .subMenuItemsContainer {
    height: auto;
    width: 100%;
    margin-left: 0;
    align-content: start;
  }
  .subMenuItem {
    width: 100%;
  }
  .subMenuLink {
    font-size: 16px;
  }
  .subMenuImage {
    display: none;
  }
  .menuFooterContainer {
    height: auto;
  }
}

/*NEWSLETTER*/
.newsletterContainer {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 73px;
}
.newsletter {
  height: 100px;
  margin-right: 30px;
}
.newsletterTitle {
  position: relative;
  letter-spacing: 6px;
  color: #1b4d9b;
  font-size: 24px;
  font-weight: bold;
}

.newsletterSubTitle {
  position: relative;
  font-size: 14px;
  color: #202020;
}

.newsletterContainer :global(.vtex-input) {
  width: 213px;
  height: 51px;
  margin-left: 36px;
  position: relative;
  top: -15px;
}

.placeholderContainer {
  display: flex;
  margin-right: 36px;
}
.placeholderName {
  margin-right: 36px;
}
.placeholderEmail {
  margin-right: 36px;
}

.vtex-input-prefix__group {
  width: 213px;
  height: 51px;
}

.buttonContent :global(.vtex-button) {
  width: 144px;
  height: 51px;
}

.buttonContent :global(.vtex-button__label) {
  font-weight: bold;
}

/*SHELF (4)*/

.slide {
  width: 200px !important;
  min-height: 100%;
}

.sliderLayoutContainer {
  width: 908px;
  display: flex;
}

.shelfItem,
.itemContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImage {
  max-width: none;
  width: 184px;
  height: 172px;
  object-fit: cover;
  margin: 0 auto 16px;
}

.paginationDotsContainer {
  display: none;
}

.shelfContainer {
  display: flex;
  justify-content: center;
}

.shelfItem {
  width: 100%;
}

.subtitleContent {
  height: 66px;

  font-weight: bold;
  color: #4f4f4f;
  line-height: 22px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: clip;
}

.buttonContainer,
.buttonContainer--unavailable {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.buttonContainer :global(.vtex-button) {
  width: 200px;
  height: 38px;
  border-radius: 8px;
  background: #008939;
  border-color: #008939;
  font-weight: bold;
}

.buttonContainer--unavailable :global(.vtex-button) {
  width: 200px;
  height: 38px;
  border-radius: 8px;
  background: #3e4742;
  border-color: #3e4742;
  font-weight: bold;
}

.minumumSign {
  width: 12px;
  height: 2px;
  background: white;
}
.minumumSign--vertical {
  width: 12px;
  height: 2px;
  background: white;
  rotate: 90deg;
  position: absolute;
}

.countContainer {
  display: flex;
  justify-content: center;
  gap: 8px;

  height: 32px;

  margin-top: 16px;
}

.countContainer :global(.vtex-button) {
  border-radius: 50%;
  width: 32px;
  min-height: 32px;
  border: none;
  box-shadow: 0px 0px 8px #00000040;
}

.inputCount {
  width: 48px;
}

.inputCount :global(.vtex-input) {
  display: block;
  height: 100%;
}

.inputCount :global(.vtex-input-prefix__group) {
  height: 100%;
  border-width: 1px;
  background: white;
}

.inputCount :global(.vtex-styleguide-9-x-input) {
  padding: 0;
  text-align: center;

  color: #1b4d9b;
  font-size: 16px;
  font-weight: bold;
}

.valueShelf {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.Discount {
  color: #ff0000;
  font-weight: bold;
}

.valueOff {
  font-weight: bold;
}

.minimumButton :global(.vtex-button__label) {
  position: relative;
  font-size: 32px;
  padding: 0 !important;
  height: 32px;
  width: 32px;
}

.maximumButton :global(.vtex-button__label) {
  position: relative;
  font-size: 32px;
  padding: 0 !important;
  height: 32px;
  width: 32px;
}

.discountContent {
  font-weight: bold;
}

.discountContainer {
  padding: 5px 10px;
  background: #df2f1a;
  width: 90px;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  top: 12px;
  left: 0;
}

/*SHELF 2 ITEMS*/

.shelfTwo {
  display: flex;
  justify-content: flex-end;
  width: 908px;
  margin: 0 auto;
}

.shelfContainerTwo {
  display: flex;
  position: relative;
  right: 17.5px;
}

.image {
  width: 100%;
  padding: 20px;
  position: relative;
  left: 140px;
}

.sliderTrackContainer {
  position: relative;
  top: -24px;
}
