/* Menu App */
.menuContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.categoryName,
.categoryLink {
  text-decoration: none;

  display: block;

  color: #4f4f4f;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  padding: 5px;
  cursor: pointer;
}

.subMenuContainer {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  opacity: 0;

  transition: 0.5s ease-in-out;
  /* Will be changed to apply a transitions */
  width: 100%;
  height: 225px;
  justify-content: center;
  align-items: center;

  background: white;
  box-shadow: 0px 4px 8px #0000001f;
}

.subMenuContent {
  width: 908px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subMenuItemsContainer {
  display: flex;
  flex-direction: column;
  align-content: center;

  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 45px;

  height: 112px;
  width: 303px;
  margin-left: 266px;
}

.subMenuItem {
  height: 22px;
  width: 70px;
}

.subMenuLink {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 22px;
  font-weight: 500;
  line-height: 19px;

  display: block;
  width: 100%;
  height: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subMenuImage {
  width: 184px;
  height: 172px;
  background: url("assets/images/mulher.png");
  background-size: cover;
}

.menuFooterContainer {
  height: 160px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .menuContainer {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    padding-left: 13px;
  }
  .subMenuContainer {
    position: relative;
    /*display: block;*/
    top: 0;
    height: auto;
    box-shadow: none;
    padding-left: 15px;
  }
  .subMenuContent {
    width: 100%;
  }
  .subMenuItemsContainer {
    height: auto;
    width: 100%;
    margin-left: 0;
    align-content: start;
  }
  .subMenuItem {
    width: 100%;
  }
  .subMenuLink {
    font-size: 16px;
  }
  .subMenuImage {
    display: none;
  }
}

/*NEWSLETTER*/
.newsletterContainer {
  display: flex;
  justify-content: center;
  text-align: left;
}
.newsletter {
  height: 100px;
  margin-right: 30px;
}
.newsletterTitle {
  position: relative;
  letter-spacing: 6px;
  color: #1b4d9b;
  font-size: 24px;
  font-weight: bold;
}

.newsletterSubTitle {
  position: relative;
  font-size: 14px;
  color: #202020;
}

.newsletterContainer :global(.vtex-input) {
  width: 213px;
  height: 51px;
  margin-left: 36px;
  position: relative;
  top: -15px;
}

.placeholderContainer {
  display: flex;
  margin-right: 36px;
}
.placeholderName {
  margin-right: 36px;
}
.placeholderEmail {
  margin-right: 36px;
}

.vtex-input-prefix__group {
  width: 213px;
  height: 51px;
}

.buttonContent :global(.vtex-button) {
  width: 144px;
  height: 51px;
}

.buttonContent :global(.vtex-button__label) {
  font-weight: bold;
}
