/* Menu Store Theme */
.container--headerDeskSticky {
  background: white;

  height: 136px;

  display: flex;
  align-items: center;
}

.container--headerMobileSticky {
  background: white;

  height: 116px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
