/* Home shelf titles */

.paragraph--homeTxtShelf1Desk,
.paragraph--homeTxtShelf2Desk {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 9.6px;
  font-family: "Raleway", sans-serif;
}

.container--homeTxtShelf1Desk {
  margin: 40px 0 55px 0;
}

.container--homeTxtShelf2Desk {
  margin: 58px 0 57px 0;
}

@media only screen and (max-width: 1024px) {
  .paragraph--homeTxtShelf1Desk,
  .paragraph--homeTxtShelf2Desk {
    font-size: 17px;
    letter-spacing: 5.4px;
  }
  .container--homeTxtShelf1Desk {
    margin: 31px 0 37px 0;
  }

  .container--homeTxtShelf2Desk {
    margin: 39px 0 37px 0;
  }
}
/* Footer */
.wrapper--footer {
  margin: 0 auto;
  max-width: 1074px;
}

.paragraph--footer {
  margin: 0;

  text-align: center;

  color: #828282;
  font-size: 12px;
  line-height: 17px;
}

.paragraph--footerMobile {
  width: 374px;
}


/*---TITLE NEWSLETTER--*/

.container--Title-Newsletter, .container--SubTitle-Newsletter{
  grid-column-start: 1;
  grid-column-end: 6;
  justify-content: end;
}
.paragraph--SubTitle-Newsletter, .paragraph--Title-Newsletter{
  line-height: 1;
  margin: 0;
}
.wrapper--Title-Newsletter{
  color: #1B4D9B;
  font-weight: bold;
  font-size: 24px;
}

.wrapper--SubTitle-Newsletter{
  color: #202020;
  font-size: 14px;
}
.container--Midle-Title{
  display: flex;
  justify-content: center;
}
.wrapper--Midle-Title{
  display: flex;
  width: 864px;
  margin-top: 61px;
}
@media(max-width:414px){
  .container--Title-Newsletter, .container--SubTitle-Newsletter{
    grid-column-end: 2;
  }
}
