/* Menu Store Theme */
.container--headerDeskSticky {
  background: white;

  height: 136px;

  display: flex;
  align-items: center;
}

.container--headerMobileSticky {
  background: white;
  box-shadow: 0px 4px 8px #0000001f;

  height: 116px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
